
    /* root style */
    
    body {
        font-size: 10px;
    }
    
    .wrapper {
        font-size: 1rem;
        font-family: lexend, sans-serif;
        margin: 1rem auto;
    }
    /* top menu */
    
    .top-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 70rem;
        margin: 4rem auto;
        padding: 0 1rem;
    }
    
    .side-menu {
        display: flex;
        align-items: center;
    }
    
    a {
        text-decoration: none;
        color: #000000c4;
        margin: 0 1rem;
    }
    
    button {
        border: none;
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        font-family: inherit;
        font-size: inherit;
        background-color: #ee6c44;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #e79b83;
    }
    /* image sizing */
    
    .art-img img {
        max-height: 18rem;
    }
    
    .article--img img {
        max-height: 10rem;
    }
    
    .avatar-img img {
        height: 4rem;
    }
    
    .art-img img,
    .article--img img,
    .avatar-img img,
    .avatar-name {
        cursor: pointer;
    }
    /* article flex box */
    
    .weekly-article {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-shrink: 2;
        justify-content: space-evenly;
        max-width: 90rem;
        margin: 3rem auto;
    }
    
    .weekly-article .feed {
        max-width: 38rem;
    }
    
    .sub-article {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 2;
        max-width: 80rem;
        margin: 2rem auto;
    }
    
    .article {
        display: flex;
        flex-direction: column;
        max-width: 20rem;
        margin: 1rem auto;
    }
    /* avatar flex box */
    
    .avatar {
        display: flex;
        align-items: center;
    }
    
    .avatar-name p:last-child {
        margin-top: -1rem;
    }
    
    .avatar-name {
        margin-left: 0.6rem;
    }
    /* footer */
    
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 70rem;
        margin: 3rem auto;
    }
    /* Mobile view */
    
    @media screen and (max-width:974px) {
        .sub-article {
            flex-direction: column;
        }
        .article {
            min-width: 30rem;
            margin: 3rem auto;
        }
        .art-img img {
            max-height: 25rem;
        }
        .article--img img {
            max-height: 20rem;
            width: 30rem;
        }
    }
    
    @media screen and (max-width:580px) {
        .wrapper {
            font-size: 0.8rem;
        }
        a {
            margin: 0.3rem;
        }
        .art-img img {
            height: 12rem;
        }
        .article--img img {
            height: 9rem;
            width: 18rem;
        }
        .article--img {
            align-self: center;
        }
        .article {
            min-width: 15rem;
        }
        .avatar-img img {
            height: 3rem;
        }
        .top-menu {
            flex-direction: column;
            margin: 2rem auto;
        }
        .weekly-article .feed {
            width: 24rem;
        }
    }